<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>add category!</title>
    <link rel="stylesheet" href="../css/add_categories.css" />
</head>

<body>
    <div class="container">
        <h1 class="title">Add category</h1>
        <p class="success-message hide">Message</p>
        <p class="error-message hide">Message</p>
        <form action="" class="category-form">
            <div class="input-container">
                <input type="text" name="username" class="input" id="category" placeholder="a">
                <label for="name" class="label">add here</label>
            </div>
            <p class="input-message hide" id="input-username">Message</p>

            <p class="input-message hide" id="input-password">Message</p>
            <button class="btn btn-submit">Submit</button>
        </form>
    </div>
    <script src="../javascript/add_categories.js"></script>
</body>

</html>