/* tabel section */
.actions {
    display: flex;
    justify-content: center;
}

.actions a>img {
    width: 36px;
    height: 36px;
}

.actions>a {
    padding: 10px;
}

table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

table tr td {
    background-color: #fff;
}

table tr:first-child {
    color: white;
    background-color: #323246;
}

td {
    text-align: center;
    background-color: #f2f2f2;
    color: black;
}

tr th {
    padding: 20px 0;
}

td {
    padding: 10px 0;
}

tr,
td,
th {
    text-align: center;
}

table tr:nth-child(odd) td {
    background-color: #eee;
}

.profile-icon {
    filter: invert(37%) sepia(94%) saturate(380%) hue-rotate(118deg) brightness(98%) contrast(91%);
}

.edit-icon {
    filter: invert(24%) sepia(90%) saturate(3187%) hue-rotate(210deg) brightness(105%) contrast(90%);
}

.delete-icon {
    filter: invert(22%) sepia(90%) saturate(7400%) hue-rotate(10deg) brightness(96%) contrast(110%);
}

.form-data {
    display: flex;
    align-items: center;
}

.form-data>input {
    width: 50%;
    border: none;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
}