.container {
    width: 100%;
    /* padding: 20px 30px; */
    display: flex;
    flex-direction: column;
}

/*top statistics*/
.best-statistics {
    display: flex;
    justify-content: space-between;
}

.best-user {
    width: 50%;
    max-width: 50%;
    padding: 10px 20px;
}

.best--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-basis: 60%;
}

.title-icon {
    width: 36px;
    height: 36px;
    filter: invert(37%) sepia(94%) saturate(380%) hue-rotate(118deg) brightness(98%) contrast(91%);
}

.header--title {
    font-size: 25px;
    background: -webkit-linear-gradient(#323246, #64c5b1);
   
    -webkit-text-fill-color: transparent;
}

.duration {
    border: 1px solid rgb(50, 50, 70, 0.1);
    border-radius: 10px;
    width: fit-content;
    font-size: 12px;
    flex-basis: 40%;
    height: fit-content;
    padding: 5px 10px;
}

.best--body {
    margin-top: 20px;
}

/*bottom statistics*/
.totals-header {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.totals-title {
    color: #323246;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.totals-statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.totals-statistics>.total {
    max-width: 33.33%;
    margin-right: 20px;
    /* width: 40vh; */
}

.totals-statistics>.total:last-child {
    margin-right: 0;
}

.circle-chart {
    width: 20vw;
    height: 20vw;
    margin: 35px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.total-sellers>.circle-chart {
    background: linear-gradient(90deg,
            rgba(100, 197, 177, 1) 0%,
            rgba(50, 50, 70, 1) 90%);
}

.total-products>.circle-chart {
    background: linear-gradient(90deg,
            rgba(100, 197, 177, 1) 0%,
            rgba(50, 50, 70, 1) 52%);
}

.total-clients>.circle-chart {
    background: linear-gradient(90deg,
            rgba(100, 197, 177, 1) 0%,
            rgba(50, 50, 70, 1) 90%);
}

.total-icon {
    width: 36px;
    height: 36px;
    margin-bottom: 10px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(140deg) brightness(101%) contrast(99%);
}